*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}
#bgc{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#box{
  width: 30%;
  height: 50%;
  background-repeat: no-repeat;
  background-color: blanchedalmond;
  background-image: url(../images/attachment_95660693.jpg);
  background-position: center;
}
button{
  padding: 12px 22px;
  margin-top: 20px;
  background-color: blue;
  outline: none;
  border: none;
  color: #fff;
}

